.pagination {
  display: flex;
  justify-content: end;
}

.paginationText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin-right: 1.5rem;
}

.paginationContainer {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 0.8rem;
}

.paginationContainer > li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #808080;
  margin: 0 0.5rem;
  cursor: pointer;
}

.paginationPrevious > a,
.paginationNext > a {
  display: flex;
  align-items: center;
}

.paginationActive {
  padding: 2px 6px;
  background-color: #0064eb;
  border-radius: 3px;
}

.paginationActiveLink {
  color: #ffffff;
}
