.blockRepository {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.8rem 3.5rem 1.5rem 3rem;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 130%;
  color: #000000;
  margin-bottom: 1.8rem;
}

.cards {
  flex: 1;
}

@media (max-width: 768px) {
  .blockRepository {
    max-width: 17.5rem;
    width: 100%;
    padding: 0;
  }

  .title {
    max-width: 15rem;
  }
}
