.blockRepository {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.8rem 3rem 2rem;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 1.8rem;
}

.cards {
  flex: 1;
}
