.blockuser {
  flex: 1;
  max-width: max-content;
  padding: 2.4rem 3rem 3rem;
}

.avatar {
  max-width: 17.5rem;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}

.avatarname {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 0.8rem;
}

.username {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #0064eb;
}

.userInfo {
  display: flex;
  margin-top: 1.5rem;
}

.infoText {
  display: flex;
  align-items: center;
}

.infoText:first-child {
  margin-right: 1rem;
}

.infoImg {
  margin-right: 0.5rem;
}
